language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 7.0
  - 7.1
  - 7.2
  - hhvm

cache: yarn
  
before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --prefer-source

script:
  - mkdir -p build/logs
  - phpunit --coverage-clover build/logs/clover.xml --configuration tests/phpunit.xml tests

after_script:
  - php vendor/bin/coveralls -v
