main {
  padding-top: 69px;
}

h1 {
  margin-bottom: 20px;
}

label {
  width: 3em;
  font-size: 20px;
  text-align: right;
  margin-right: 10px;
}

.next-button {
  margin: 40px 0;
}

.canvas-wrapper {
  max-width: 600px !important;
}
